<% layout('../layout') %>

<a href="/contacts">Back to all contacts</a>
<br>
<br>
<br>
<% if (contact) { %>
<div class="row spacer">
  <div class="col-md-2">
    <img src="<%= contact.image_url %>"
      alt="<%= contact.first_name %>"
      class="poster" height="200">
  </div>
  <div class="col-md-6">
    <h2>
      <a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %></a>
    </h2>
    <p><%= contact.phone_number %></p>
    <p><%= contact.email_address %></p>
    <p>Address ID: <%= contact.address_id %></p>
  </div>
  <form action="/contacts/<p><%= contact.id %>/edit">
    <input type="submit" name="edit" value="Edit Contact">
  </form>
  <form action="/contacts/<p><%= contact.id %>?_method=DELETE" method="POST">
    <input type="submit" name="delete" value="Delete Contact">
  </form>
</div>
<% } %>
